* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(to right, #e21dba, #9a227e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 60px #ffffff;
    padding: 40px;
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #e832b1;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #e832b1;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #e832b1;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #6a11cb;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e832b1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #ff0088;
    transform: translateY(-2px);
}

.message {
    margin-top: 15px;
    color: #ff0000; /* Warna merah untuk pesan kesalahan */
    font-size: 14px;
}